<div class="card p4 m3 mt5">
  <div class="tc mb4 mt2">
    <img src="img/icon_art.svg" alt="" class="icon md"/>
  </div>
  <h3 class="m0">{{product.third.[0]}}</h3>
  <h4>
    {{product.third.[2]}}
  </h4>
  <hr class="line mb1">
  <h3 class="big m0 di"><span class="glow small fl mr1">$</span>{{product.third.[1]}}</h3><span class="small grey"> / cover</span>
  <ul class="p0 mb4">
    <li>{{product.third.[3]}}</li>
    <li>{{product.third.[4]}}</li>
    <li>{{product.third.[5]}}</li>
    <li>{{product.third.[6]}}</li>
  </ul>
  <a href="/contact" class="tc"><div class="tc btn py2">{{product.third.[7]}}</div></a>
</div>
