<div class="card p4 m3">
  <div class="tc mb4 mt3">
    <img src="{{product.second.[0]}}" alt="" class="icon xl"/>
  </div>
  <h3 class="m0">{{product.second.[1]}}</h3>
  <h4>{{product.second.[2]}}</h4>
  <hr class="line mb1">
  <h3 class="big m0 di"><span class="glow small fl mr1">$</span>{{product.second.[3]}}</h3><span class="small grey"> / project</span>
  <ul class="p0 mb4">
    <li>{{product.second.[4]}}</li>
    <li>{{product.second.[5]}}</li>
    <li>{{product.second.[6]}}</li>
    <li>{{product.second.[7]}}</li>
  </ul>
  <a href="/contact" class="tc"><div class="tc btn py2">{{product.second.[8]}}</div></a>
</div>
