<div class="card p4 m3 mt5">
  <div class="tc mb4 mt3">
    <img src="img/icon_sketch.svg" alt="" class="icon sm"/>
  </div>
  <h3 class="m0">{{product.first.[0]}}</h3>
  <h4>
    {{product.first.[2]}}
  </h4>
  <hr class="line mb1">
  <h3 class="big m0 di"><span class="glow small fl mr1">$</span>{{product.first.[1]}}</h3><span class="small grey"> / logo</span>
  <ul class="p0 mb4">
    <li>{{product.first.[3]}}</li>
    <li>{{product.first.[4]}}</li>
    <li>{{product.first.[5]}}</li>
    <li>{{product.first.[6]}}</li>
  </ul>
  <a href="/contact" class="tc"><div class="tc btn py2">{{product.first.[7]}}</div></a>
</div>
