{{> nav}}
<div class="bg-dark">
  <div class="container tc bg-dark white">
    <h1>{{heads.artists}}</h1>
    <p>{{subheads.artists}}</p>
  </div>
</div>
<div class="container-fluid bg-dark white">
  {{#each artist}}
  <div class="row bg-dark py5 bg-{{this.[0]}} artist border-top">
    <div class="col-md-3 col-md-offset-1">
      <iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{this.[1]}}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    <div class="col-md-3 bg-dark-t ">
      <h2 class="mt0">{{this.[2]}}</h2>
      <p>
        {{{this.[3]}}}
      </p>
    </div>
  </div>
  {{/each}}
</div>
{{> nav}}
