{{> nav}}
{{> u/cf}}
<div class="bg-mocktail py5">
  <div class="container">
    <div class="white row">
      <h4 class="m0 p2 uppercase"><span class="bg-glow p2">Post Mortem</span></h4>
      <h2 class="big thick m0 p2"><span class="bg-glow p2">Mocktail LLC</span></h2>
      <p class="m0 p2"><span class="bg-glow p2">
        How to run your design agency into the ground
      </span></p>
    </div>
  </div>
</div>
{{> u/fc}}
<div class="container mt4">
  <div class="mt5 mb5 row tc">
    <img class="md" src="img/mocktail_logo.svg" alt="The Mocktail Logo and lemon slice icon" />
  </div>
  <h3 class="glow"><span class="bg-purp px1">Context</span></h3>
  <p class="indent">
    {{{paragraphs_mocktail.context}}}
  </p>
  <div class="row">
    <div class="col-md-6">
      <h3 class="glow mt5"><span class="bg-purp px1">Problem</span></h3>
      <p class="indent">
        {{{paragraphs_mocktail.problem}}}
      </p>
    </div>
    <div class="col-md-6">
      <img class="mt5 img-responsive" src="img/mocktail/opvs.png" alt="Identity design for opvs" />
    </div>
  </div>
  <h3 class="glow"><span class="bg-purp px1">Hypothesis</span></h3>
  <p class="indent">
    {{{paragraphs_mocktail.hypothesis}}}
  </p>
  <img class="mt5 p0 m0 img-responsive" src="img/mocktail/eyeriscover.gif" alt="Eyeris Cover Art progression" />
  <h3 class="glow"><span class="bg-purp px1">How We Were Wrong</span></h3>
  <p class="indent">
    {{{paragraphs_mocktail.wrong}}}
  </p>
  <img class="mb5 mt5 p0 m0 img-responsive" src="img/mocktail/holybeats.png" alt="Holy Beats logotype" />
  <p class="indent">
    {{{paragraphs_mocktail.wrongtwo}}}
  </p>
  <img class="mb5 mt5 p0 m0 img-responsive" src="img/mocktail/asphyxiate.png" alt="Asphyxiate typography" />
  <p class="indent">
    {{{paragraphs_mocktail.wrongthree}}}
    <img class="mb5 mt5 p0 m0 img-responsive" src="img/mocktail/frequent.png" alt="Promo art with Frequent" />
  <p class="indent">
    {{{paragraphs_mocktail.wrongfour}}}
  </p>
  <a href="/"><h4 class="tc mt5 mb5"><< Back to Projects</h4></a>
  </div>
</div>
{{> footer}}
