{{> nav}}

{{> u/cf}}
<div class="bg-upknown p5 row">
  <div class="container">
    <div class="white">
      <h4 class="m0 p2 uppercase"><span class="bg-glow p2">Case Study</span></h4>
      <h2 class="big thick m0 p2"><span class="bg-glow p2">Upknown</span></h2>
      <p class="m0 p2"><span class="bg-glow p2">
        Make genius connections
      </span></p>
    </div>
  </div>
</div>
{{> u/fc}}
<div class="container mt4">
  <div class="mt5 mb5 row tc">
    <img class="md" src="img/upknown_logo.svg" alt="Upknown in blue text" />
  </div>
  <h3 class="glow"><span class="bg-purp px1">Scene</span></h3>
  <p class="indent">
    {{{paragraphs.scene}}}
  </p>
  <h3 class="glow mt5"><span class="bg-purp px1">Problem</span></h3>
  <p class="indent">
    {{paragraphs.problem}}
  </p>
  <h3 class="glow mt5"><span class="bg-purp px1">Context</span></h3>
  <p class="indent">
    {{paragraphs.context}}
  </p>
  <p class="">
    {{paragraphs.contexttwo}}
  </p>
  <h3 class="glow mt5"><span class="bg-purp px1">My Role</span></h3>
  <p class="indent">
    {{paragraphs.role}}
  </p>
  <p class="">
    {{paragraphs.roletwo}}
  </p>
  <h3 class="glow mt5"><span class="bg-purp px1">Research</span></h3>
  <p class="indent">
    {{paragraphs.research}}
  </p>
  <p class="">
    {{paragraphs.researchtwo}}
  </p>
  <p class="">
    {{paragraphs.researchthree}}
  </p>
  <h3 class="glow mt5"><span class="bg-purp px1">Study One: Onboarding</span></h3>
  <p class="indent">
    {{paragraphs.onboarding}}
  </p>
  <img class="img-inline mt5 mb5" src="img/onboarding1.png" alt="Onboarding" />
  <p class="">
    {{paragraphs.onboardingtwo}}
  </p>
  <img class="img-inline mt5 mb5" src="img/onboarding2.gif" alt="Onboarding" />
  <p class="">
    {{paragraphs.onboardingthree}}
  </p>
  <h3 class="glow mt5"><span class="bg-purp px1">Study Two: Establishing Relationships</span></h3>
  <p class="indent">
    {{paragraphs.relationships}}
  </p>
  <p class="">
    {{paragraphs.relationshipstwo}}
  </p>
  <img class="img-inline mt5 mb5" src="img/relationships1.gif" alt="Relationships" />
  <p class="">
    {{paragraphs.relationshipsthree}}
  </p>
  <img class="img-inline mt5 mb5" src="img/relationships2.gif" alt="Relationships" />
  <h3 class="glow mt5"><span class="bg-purp px1">Study Three: Rethinking Emails</span></h3>
  <p class="indent">
    {{paragraphs.emails}}
  </p>
  <img class="img-inline mt5 mb5" src="img/emails1.png" alt="Emails" />
  <p class="">
    {{paragraphs.emailstwo}}
  </p>
  <img class="img-inline mt5 mb5" src="img/emails2.gif" alt="Emails" />
  <img class="img-inline mt5 mb5" src="img/emails3.gif" alt="Emails" />
  <p class="">
    {{paragraphs.emailsthree}}
  </p>
  <h3 class="glow mt5"><span class="bg-purp px1">Where We Ended Up</span></h3>
  <p class="indent">
    {{paragraphs.end}}
  </p>
  <p class="">
    {{paragraphs.endone}}
  </p>
  <p class="">
    {{paragraphs.endtwo}}
  </p>
  <p class="">
    {{paragraphs.endthree}}
  </p>
  <p class="">
    {{paragraphs.endfour}}
  </p>
  <a href="/"><h4 class="tc mt5 mb5"><< Back to Projects</h4></a>
</div>

</div>
{{> footer}}
